<!DOCTYPE html>
<html>
<head>
  <title>Slcnights</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a><%= link_to 'Home', root_path %></a>
<a><%= link_to 'About Me', static_pages_about_path %></a>
<a><%= link_to 'Clubs', clubs_path %></a>
<a><%= link_to 'Contact', static_pages_contact_path %></a>

<%= yield %>

</body>
</html>
